# Global options
{
	# Handle the certificates ourselves
	auto_https off

	# Redirect the server logs to a file
	log default {
		output file /srv/data/caddy-log/main.log
		output stderr
		format json
	}

	# Enable caching
	cache {
		otter
	}

	# Allow cached responses to skip the rate limit
	order rate_limit before header
	order cache before rate_limit
}

# The web server
https://svn.tug.org:8369 {
	# socket activation
	bind fd/3 {
		protocols h1 h2
	}
	bind fdgram/4 {
		protocols h3
	}

	# TLS
	tls /certificates/fullchain.pem /certificates/privkey.pem

	# Save the access logs to a file
	log {
		output file /srv/data/caddy-log/access.log
		format json
	}

	# Enable gzip and zstd compression
	encode zstd gzip

	# Enable the server-side cache
	cache

	# Set the cache durations
	map {uri}               {cache_duration} {
		~/viewvc-docroot/   7776000  # Static files, 90 days
		/favicon.ico        7776000  # (null) favicon, 90 days
		~[?&](revision|pathrev|annotate|r1|r2)=  2592000  # Revision pages, 30 days
		/robots.txt          604800  # Robots.txt, 1 week
		~[?&]log_pagestart=   86400  # Additional pages are expensive, 1 day
		~[?&]view=log           900  # The first page of the log, 15 minutes
		default               86400  # Anything else, 1 day
	}
	header Cache-Control max-age={cache_duration}

	# Rate limit the requests to 10 per minute
	rate_limit {
		zone svn {
			match {
				not path /viewvc-docroot/*
			}
			key {remote_host}
			events 10
			window 60s
		}
	}

	# Give a friendly error message for rate-limited requests
	handle_errors 429 {
		header Content-Type text/html
		header -Cache-Control
		respond `
		<!DOCTYPE html>
		<html lang="en">
		<meta charset="UTF-8">
		<title>Too Many Requests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<meta name="color-scheme" content="light dark">
		<h1>Too Many Requests</h1>
		<p>You can only make 10 requests per minute. Please wait a little bit
		and try again.
		<p><a href="https://tug.org">Return to the main site.</a>
		` 429
	}

	# Just show a plain error message for other errors
	handle_errors {
		respond {err.status_text} {err.status_code}
	}

	# Handle the ViewVC static files
	root /usr/local/share/viewvc/docroot
	handle_path /viewvc-docroot/* {
		file_server
	}

	# Politely ask the robots to go away
	handle /robots.txt {
		respond `User-agent: *
Disallow: /

User-agent: ia_archiver
Allow: /
Crawl-delay: 10`
	}

	@not-robots {
		not path /robots.txt
	}
	header @not-robots X-Robots-Tag "index, nofollow"

	# Security headers
	header {
		X-Content-Type-Options nosniff
		Cross-Origin-Resource-Policy same-origin
		Content-Security-Policy "default-src 'none'; frame-ancestors 'none'; form-action 'none'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; script-src 'self' 'unsafe-inline';"
		Strict-Transport-Security "max-age=1209600" # 2 weeks
	}

	# Some browsers are following the tug.org redirects incorrectly, so let's
	# help them out by removing the /svn prefix for them
	handle_path /svn/* {
		redir /{uri} permanent
	}

	# No favicon
	respond /favicon.ico 410

	# Reverse proxy to the ViewVC server
	reverse_proxy :43219
}
