# Global options
{
	# Redirect the server logs to a file
	log default {
		output file /srv/data/caddy-log/main.log
		format json
	}

	# Enable caching
	cache {
		otter
	}

	# Allow cached responses to skip the rate limit
	order rate_limit before header
	order cache before rate_limit

	# For the ACME certificate challenge
	email acme-certificates@maxchernoff.ca
}

# The web server
:8080 {
	# Save the access logs to a file
	log {
		output file /srv/data/caddy-log/access.log
		format json
	}

	# Enable gzip and zstd compression
	encode zstd gzip

	# Cache the responses for 1 day
	header Cache-Control max-age=86400 # 1 day
	cache

	# Rate limit the requests to 10 per minute
	rate_limit {
		zone svn {
			match {
				not path /viewvc-docroot/*
			}
			key {remote_host}
			events 10
			window 60s
		}
	}

	# Give a friendly error message for rate-limited requests
	handle_errors 429 {
		header Content-Type text/html
		respond `
		<!DOCTYPE html>
		<html lang="en">
		<meta charset="UTF-8">
		<title>Too Many Requests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<meta name="color-scheme" content="light dark">
		<h1>Too Many Requests</h1>
		<p>You can only make 10 requests per minute. Please wait a little bit
		and try again.
		<p><a href="https://tug.org">Return to the main site.</a>
		` 429
	}

	# Just show a plain error message for other errors
	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}

	# Handle the ViewVC static files
	root /usr/local/share/viewvc/docroot
	handle_path /viewvc-docroot/* {
		file_server
	}

	# Politely ask the robots to go away
	handle /robots.txt {
		respond "User-agent: *\nDisallow: /"
	}
	header X-Robots-Tag none

	# Reverse proxy to the ViewVC server
	reverse_proxy :43219
}
