#username, [for=username], #password, [for=password], [title=WebAuthn] {
    display: none;
}

[title=authelia] * {
    font-size: xxx-large;
    --fa: "Login" !important;
    font-family: inherit !important;
}
