[Container]
Image=docker.io/lycheeorg/lychee:latest

# Automatically update this container
AutoUpdate=registry

# Sandbox the container as much as possible
AddCapability=CAP_NET_BIND_SERVICE CAP_CHOWN CAP_DAC_OVERRIDE CAP_SETGID CAP_SETUID CAP_FOWNER
DropCapability=all
Network=lychee.network
NoNewPrivileges=true
UserNS=nomap

# Mount the data and configuration directories
Volume=%h/lychee/conf/:/conf/
Volume=%h/lychee/uploads/:/uploads/

# Logging
LogDriver=k8s-file

# Bind to a random port for testing
PublishPort=127.0.0.1:14214:80

[Service]
# Restart the container if it fails
Restart=on-failure

# Limit the maximum CPU usage to 2 cores
CPUAccounting=yes
CPUQuota=200%

[Install]
# Start the container when the system boots
WantedBy=default.target
