[Container]
# Select the image to use. Source:
# https://github.com/gucci-on-fleek/maxchernoff.ca/tree/master/builder/containers/viewvc
Image=maxchernoff.ca/viewvc:latest

# Automatically update this container
AutoUpdate=registry

# Sandbox the container as much as possible
DropCapability=all
AddCapability=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ReadOnly=true
ReadOnlyTmpfs=true
UserNS=keep-id:uid=1000,gid=1000
Network=none

# Mount the data and SVN repositories
Volume=%h/viewvc/:/srv/:ro
Volume=%h/viewvc/data/:/srv/data:rw
Volume=/home/svn/:/mnt/:ro
Volume=/etc/dehydrated/certs/svn.tug.org:/certificates:ro

# Logging
LogDriver=k8s-file

# Healthchecks
HealthCmd=curl --fail-with-body --silent --show-error --connect-to 'svn.tug.org:8369:127.0.83.69:8369' 'https://svn.tug.org:8369/texlive/?view=log'
HealthStartPeriod=10s
HealthInterval=30s
HealthRetries=2
HealthTimeout=10s
HealthOnFailure=kill

[Service]
# Restart the container if it fails
Restart=always
TimeoutStopSec=5s

# Limit the maximum CPU usage to 2 cores
CPUAccounting=yes
CPUQuota=200%

# Limit the maximum I/O bandwidth to 25% of the server's capabilities
# IOAccounting=yes
# IOReadBandwidthMax=/dev/sda 600K
# IOReadBandwidthMax=/dev/sdb 600K
# IOWriteBandwidthMax=/dev/sda 200K
# IOWriteBandwidthMax=/dev/sdb 200K

[Unit]
Requires=viewvc.socket
After=viewvc.socket

[Install]
# Start the container when the system boots
WantedBy=default.target
